@CHARSET "UTF-8";

@import url("css/theme.css");

.navbar-default {
	background-color: #3E5F81 !important;
	background-image: none !important;
}

.wy-side-nav-search {
	background-color: #3E5F81;
}

.wy-nav-top {
	background-color: #3E5F81;
}

a {
	color: #3E5F81;
}